<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,viewport-fit=cover">
		<title>壹客送</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<style>
			p{
				text-indent: 30px;
			}
			.img{
				
				background-color: white;
			}
			img{
				height: 100px;
				width: 30%;
				
			}
			h4{
				margin-top: 20px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="mui-action-back mui-icon mui-icon-arrowleft mui-pull-left title-back"></a>
			<h1 class="mui-title">物品尺寸说明</h1>
		</header>
		<div class="mui-content" id="dcontent">
			<div class="mui-content-padded">
				<h4>1、小件  规格 30×30×30(cm)</h4>
				<div>
					<p> 例如：手机、生鲜水果、水杯等。<b>物品配送工具</b> 不限于汽车。</p>
					<div class="img" align="center">
						<img src="../images/goods/small/1.png" />
						<img src="../images/goods/small/2.png" />
						<img src="../images/goods/small/3.png" />
					</div>
				</div>
			</div>
			<div class="mui-content-padded">
				<h4>2、中件  规格 50×50×30(cm)</h4>
				<div>
					<p> 例如：电脑机箱、24寸旅行箱等。 <b>物品配送工具</b> 不限于汽车。</p>
					<div class="img" align="center">
						<img src="../images/goods/normal/1.png" />
						<img src="../images/goods/normal/2.png" />
					</div>
				</div>
			</div>
			<div class="mui-content-padded">
				<h4>3、大件  规格 100×100×50(cm)</h4>
				<div>
					<p> 例如：单人沙发、30寸旅行箱等。<b>物品配送工具</b> 仅限于汽车。</p>
					<div class="img" align="center">
						<img src="../images/goods/big-normal/1.png" />
						<img src="../images/goods/big-normal/2.png" />
					</div>
				</div>
			</div>
			<div class="mui-content-padded">
				<h4>4、超大件  规格 100×150×150(cm)</h4>
				<div>
					<p> 例如：冰箱、茶几等。<b>物品配送工具</b> 仅限于汽车。</p>
					<div class="img" align="center">
						<img src="../images/goods/big/1.png" />
						<img src="../images/goods/big/2.png" />
					</div>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/immersed.js" ></script>
		<script>
			mui.init();
		</script>
	</body>
</html>
