<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,viewport-fit=cover">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<style>
			html,
			body,
			.mui-content {
				background-color: white;
			}
			
			p {
				text-indent: 1em;
				margin-top: 35px;
				
			}
			#content{
				margin-top: 5px;
				margin-left: 3%;
				width: 94%;
				
			}
			span{
				color: #000000 !important;
			}
			img{
				margin-left: 5%;
				width: 80%;
				height: 40%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">什么是帮你取，帮你送？</h1>
		</header>
		<div class="mui-content" id="dcontent">

			<div id="content">

				<p style="margin-top: 10px;"> <span>方案一：</span> 从你所在A点，送达同城的任意B点。</p>
				<img src="../images/explain/help-bg-1.png" id="img_1">

				<p> <span>方案二：</span> 从同城的任意B点取件，送达你所在A点。</p>
				<img src="../images/explain/help-bg-2.png">

				<p> <span>方案三：</span>从配送区域内的任意B点取件，送达您指定的任意A点</p>
				<img src="../images/explain/help-bg-3.png"  style="width: 71%;margin-left: 14%;">
			</div>

		</div>

		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/immersed.js"></script>
		<script type="text/javascript">
			mui.init();
		</script>
	</body>

</html>