<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,viewport-fit=cover">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/city/style.css" />

	</head>
	<style>
		html,body{
			height: 100%;
			background-color:#F0F0F0;
		}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">选择所要查看的城市
			</h1>
		</header>
		<div class="mui-content">
			<!--城市列表-->
			<div class="container">
				<div class="city">
					<div class="city-list" id="openCity">
						<span class="city-letter" id="openCity">已开通城市</span>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/app.js" ></script>
		<script type="text/javascript" src="../js/immersed.js"></script>
		<script type="text/javascript" src="../js/config.js"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				mui.ajax(API_URL_GET_CITY_LIST, {
					crossDomain: true,
					type: 'GET',
					dataType: 'json',
					headers: {
						'Content-Type': 'application/json'
					},
					success: function(result) {
						if(result.status == 1) {
							var data = result.data;
							var parentNode = document.getElementById("openCity");
							mui.each(data, function(index, element) {
								var p = document.createElement("p");
								p.setAttribute("class", "open");
								p.innerHTML = element.name;
								p.setAttribute("data-id", element.code);
								parentNode.appendChild(p);
							})

						}
					},
					error: function(err) {}
				});
				mui('body').on('tap', '.city-list p', function() {
					app.openWindow("price_explain.html","price_explain",{
						"cityId":this.getAttribute("data-id")
					});
				})
			})
		</script>
	</body>
</html>