<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,viewport-fit=cover">
		<title>壹客送</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<link rel="stylesheet" href="../../css/mui.picker.min.css" />
		<style>
			.area {
				margin: 20px auto 0px auto;
			}
			.mui-input-group:first-child {
				margin-top: 20px;
			}
			.mui-input-group label {
				width: 22%;
			}
			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				width: 78%;
			}
			.mui-checkbox input[type=checkbox],
			.mui-radio input[type=radio] {
				top: 6px;
			}
			.mui-content-padded {
				margin-top: 25px;
			}
			.mui-btn {
				padding: 10px;
			}
			.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
				margin-top: 1px;
			}
			.mui-icon{
				color: #4dbeca;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">设置密码</h1>
		</header>
		<div class="mui-content">
			<div style="" align="center">
				<img src="../../images/logo.png" style="margin-top:45px;" />
			</div>
			<form class="mui-input-group" style="margin-top: 30px;">
				<div class="mui-input-row hidden_1">
					<label><span class="mui-icon mui-icon-locked"></span></label>
					<input id='password' type="password" class=" mui-input" placeholder="请输入新密码">
				</div>
				<div class="mui-input-row hidden_1">
					<label><span class="mui-icon mui-icon-locked"></span></label>
					<input id='againPassword' type="password" class=" mui-input" placeholder="请再次输入密码">
				</div>

				<div class="mui-input-row" id="city_div">
					<label><img src="../../images/city.png" style="height: 18px;margin-left: 3px;font-size: 18px;"></label>
					<input id='city' type="text" class="mui-input" placeholder="请选择城市" readonly="readonly">
				</div>

			</form>
			<div class="mui-content-padded" align="center">
				<button id='submit' class="mui-btn" style="color: #4dbeca;font-size: 20px;font-family: '微软雅黑';width: 260px;">提交</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/immersed.js"></script>
		<script src="../../js/config.js"></script>
		<script type="text/javascript" src="../../js/mui.picker.min.js"></script>
		<script type="text/javascript" src="../../js/myStorage.js"></script>
		<script>
			var cityCode = "";
			mui.init();

			mui.ajax(API_URL_GET_CITY_LIST, {
				crossDomain: true,
				type: 'GET',
				dataType: 'json',
				headers: {
					'Content-Type': 'application/json'
				},
				success: function(result) {
					if (result.status == 1) {
						var picker = new mui.PopPicker();
						var cityArr = new Array;
						mui.each(result.data, function(index, data) {
							cityArr.push({
								"text": data.name,
								"value": data.code
							});
						});
						picker.setData(cityArr);
						document.getElementById("city_div").addEventListener('tap', function() {
							app.inputBlur();
							picker.show(function(item) {
								document.getElementById("city").value = item[0].text;
								cityCode = item[0].value;
							});
						});
					}
				},
				error: function(xhr) {
				}
			});

			mui.plusReady(function() {
				document.getElementById('againPassword').addEventListener('change', function() {
					var password = document.getElementById("password").value;
					if (this.value != password) {
						mui.toast('两次密码输入不一致');
					}
				});
				document.getElementById('submit').addEventListener('tap', function() {
					var password = document.getElementById("password").value;
					var againPassword = document.getElementById("againPassword").value;
					if (password != againPassword) {
						mui.toast('两次密码输入不一致');
						return;
					}
					var url = API_CHANGE_PASSWORD_TOKEN + app.getCustomerId();
					app.tokenAjax({
						url: url,
						data: {
							"password": password,
							"againPassword": againPassword,
							"cityCode": cityCode
						},
						success: function(result) {
							if (result.status == 1) {
								//跳转到首页 
								app.openWebView("../main.html", "main");
							} else {
								mui.toast(result.msg);
							}
						},
						error: function(xhr) {
							mui.toast('修改失败')
						}
					});
				});
			});
		</script>
	</body>

</html>
