<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,viewport-fit=cover">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/showLoading.css" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<link rel="stylesheet" href="../../css/couponCommon.css" />
	</head>
	<style>
		html,
		body {
			width: 100%;
			height: 100%;
		}
		
		li {
			font-size: 13px;
			color: grey;
			padding: 2px;
		}
		
		ul {
			margin-top: 10px;
		}
		
		.title {
			margin-left: 10px;
			font-size: 15px;
			padding: 2px;
		}
		
		.question {
			margin-top: 10px;
		}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">红包说明</h1>
		</header>
		<div class="mui-content" id="dcontent" style="">
			<div id="content" style="min-height:100px;width: 100%;">
				<div class="question" style="">
					<div class="title">
						1、怎么获取红包？
					</div>
					<ul>
						<li>
							新用户注册即可获得首单红包；

						</li>
						<li>
							节日红包，系统自动发放给每一位注册用户；

						</li>
						<li>
							下单量达到一定量，会获得额外的红包，下的单越多获得的红包数越多。
						</li>
					</ul>
				</div>
				<div class="question">
					<div class="title">
						2、红包如何使用？
					</div>
					<ul>
						<li>
							红包仅下单支付时使用；

						</li>
						<li>
							每个订单限使用一个红包；

						</li>
						<li>
							每个红包只能使用一次，不能累加或拆分；
						</li>
						<li>
							红包如有使用金额门槛，则订单的价格必须满足金额门槛才能使用；
						</li>
						<li>
							红包使用不找零，如红包抵扣的金额大于订单的价格，则订单需支付0.01元。
						</li>
					</ul>
				</div>
				<div class="question">
					<div class="title">
						3、下单时使用了红包，后来取消了订单，红包会返还吗？
					</div>
					<ul>
						<li>
							使用了红包下单，未支付时取消订单时，红包会返还到您的账户；

						</li>
						<li>
							使用了红包下单，支付完成后再取消订单时，红包不会返还给您。
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="../../js/mui.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/myStorage.js"></script>
		<script type="text/javascript" src="../../js/config.js"></script>
		<script type="text/javascript" src="../../js/immersed.js"></script>
		<script type="text/javascript" src="../../js/showLoading.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>