<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,viewport-fit=cover">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style>
			html,body,.mui-content{
				background-color: white !important;
			}
			
			h4{
				padding:10px 5px 5px 10px;
				font-size: 15px;
			}
			p{
				text-indent: 1.7em;
				padding-left: 10px;
				padding-right: 10px;
				font-size: 14px;
				color: #242424;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="header">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">常见问题</h1>
		</header>
		<div class="mui-content" id="dcontent">
		    <h4> 1、壹配送是怎样一个平台？</h4>
		    <p> 壹配送作为同城快递配送平台，我们货物运送采用专人直送，利用大数据的技术，采集某一街区的配送数据并进行分析，根据订单的主要流向规划此街区的配送路线。即某街区单位时间内（10分钟）的订单，系统按规划的配送路线匹配订单，批量送达同一区域的商品，提高配送效率，降低成本。</p>
		    <h4> 2、壹配送货物配送范围？</h4>
		    <p>
		    	壹配送仅支持国家和平台支持配送的货物，若因违禁品、禁寄品、垫付货物款项或代收货物款项等服务，产生的不良后果或损失，壹配送不作赔付，感谢您的理解。
		    </p>
		    <h4>
		    	3、发货遇到问题以及收货物品有毁损如何处理？
		    </h4>
		    <p>
		    	您可以及时联系在线客服反馈相关情况，工作人员会及时核实，如因快递壹哥责任造成物品毁损，我们将积极协调快递壹哥进行赔付，但需要您提供机打发票/销售凭证/盖章收据/小票给快递壹哥。
		    </p>
		    <h4>
		    	4、取消订单的钱怎么退回？
		    </h4>
		    <p>
		    	按照原先支付路径及时返回到三方账户中。
		    </p>
		    <h4>
		    	5、如何进行充值？
		    </h4>
		    <p>
		    	壹配送官网可以充值；充值后不可退款或转让。
		    </p>
		    <h4>
		    	6、如何确认取货人员一定是我的抢单壹哥？
		    </h4>
		    <p>
		    	壹哥抢单后会及时和您联系，您的收发货物品、地址只有抢单人才会知道，壹哥到达取件地后会出示验证码进行验证，您验证通过后方可把物品交由快递壹哥。
		    </p>
		    <h4>
		    	7、如果我发的订单重量、时效和地址不符该如何处理？
		    </h4>
		    <p>
		    	请尽量保证重量相符，如果差距较大，请及时与壹配送平台客服反馈，客服会第一时间进行协调处理；您下单的时候也请准确的选择送达时效，因为订单时效会影响壹哥的及时率和收入；如果重量和时效错误，壹哥可能会拒绝为您服务，请您谅解。
		    </p>
		    <h4>
		    	8、壹配送APP显示订单被签收，但收件人未收到货？
		    </h4>
		    <p>
		    	请您先与身边亲友、公司/小区收发处确认，是否代领快递，如无人代领快递，请及时与快递壹哥或壹配送客服沟通联系。
		    </p>
		    <h4>
		    	9、是否可以加盟代理或成为合伙人？
		    </h4>
		    <p>
		    	您可以通过官网提交资料至指定邮箱，如您申请的城市有意向开通，会有工作人员审核您的申请条件，符合要求我会又有工作人员与您联系。
		    </p>
		    <h4>10、如果同城配送单量较大，可以享有差异化服务吗？</h4>
		    <p>
		    	可以的，我们该地区负责人会主动联系您。同时根据您的件量和件量增长量，会提供更多的服务功能界面以及优惠政策。
		    </p>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/immersed.js" ></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>